<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Hi i am Fifth Html page belongs to Mobile</h1>
        <a href="{% url 'Mobile:Fourth' %}">Naviagate to Fourth html page</a>
        <br>
        <a href="{% url 'Mobile:Six' %}">Naviagate to Six html page</a>
        <br>
        <a href="{% url 'First' %}">Naviagate to First html page</a>
        <br>
        <a href="{% url 'Second' %}">Naviagate to Second html page</a>
        <br>
        <a href="{% url 'Third' %}">Naviagate to Third html page</a>
    </center>
</body>
</html>